.grid-container1{
    display: grid;
    grid-template-rows: 70px 120px 150px;
    border-style: solid;
    border-color: rgb(228, 147, 25);
    border-width: 10px;
    border-style: solid;
    border-color: rgb(228, 147, 25);
    background-color: rgb(228, 219, 110);
    text-align: center;
    
}

.bar1{
    border-style: solid;
    border-color: rgb(228, 147, 25);
}
ul{
    list-style-type: none;
}
.heading1{
    border-style: solid;
    border-color: rgb(228, 147, 25);
}
.paragraph1{
    border-style: solid;
    border-color: rgb(228, 147, 25);
}


.grid-container2{
    display: grid;
    grid-template-columns: 170px 230px 1fr 500px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-style: solid;
    background-color: rgb(183, 181, 181);
    text-align: center;
    
}

.bar2{
    border-style: solid;
    border-color: black;
}
ul{
    list-style-type: none;
}
.heading2{
    border-style: solid;
    border-color: black;
}
.paragraph2{
    border-style: solid;
    border-color: black;
}




